---
interface Props {
  brand: Brand;
  className?: string;
}
import { cn } from "@/lib/utils";
import { Card } from "@/ui/card";
import i18n from "src/lib/i18n";
// import { linkto } from "src/lib/routing.astro";
import type { Brand } from "src/lib/schema";
import { conjugate } from "src/lib/utils";
const { brand, className } = Astro.props;
---

<a href={`brand/${brand.id}`}>
  <Card
    className={cn(
      "justify-center items-center px-6 gap-3 md:w-full md:h-full md:flex-none",
      className
    )}
  >
    <p>{brand.name}</p>
    {brand.logo && <img src={brand.logo} />}
    {!brand.logo && <div class="bg-pink-300 w-full md:w-48 h-24 rounded-md" />}
    {brand.description && <p>{brand.description}</p>}
    <p>
      {
        `${brand.locations.length} ${conjugate(
          brand.locations.length,
          i18n.t("brand.locations", { returnObjects: true }) as string[]
          // ["филиал", "филиала", "филиалов"]
        )}`
      }
      <!-- {
        `${brand.locations.length} ${conjugate(
          brand.locations.length,
          ["филиал", "филиала", "филиалов"]
        )}`
      } -->
    </p>
  </Card>
</a>
