---
interface Props {
  location: LocationLight;
}
import { Card, CardFooter, CardHeader } from "@/ui/card";
import { MapPin } from "lucide-react";
// import { Separator } from "@/ui/separator";
import { DateTime } from "luxon";
import type { LocationLight } from "src/lib/schema";
import ServiceIcons from "./service-icons.astro";
const { location } = Astro.props;
const open = DateTime.fromISO(location.openingTime);
const close = DateTime.fromISO(location.closingTime);

console.log("Services: ", location.services);
console.log("Current locale: ", Astro.currentLocale);
---

<Card className="text-center px-4 py-4 h-full">
  <a
    href={`/${Astro.currentLocale}/location/${location.locationId}`}
    class="flex flex-col gap-4"
  >
    <CardHeader className="text-lg">{location.name}</CardHeader>
    <!-- <Separator orientation="horizontal" /> -->
    <div class="divider bg-border h-0.5"></div>
    {
      (
        // location.photo ? (
        //   <img src={location.photo} />
        // ) : (
        <div class="bg-pink-200 w-full h-24 rounded-xl" />
        // )
      )
    }

    {
      (
        <ServiceIcons services={location.services} />
        // location.services && (
        //   <div>
        //     {location.services.map((_s) => (
        //       <div class="bg-amber-100 size-12 rounded-full" />
        //     ))}
        //   </div>
        // )
      )
    }
    <!-- <Separator orientation="horizontal" decorative /> -->
    <div class="divider bg-border h-0.5"></div>
    <CardFooter
      className="items-center gap-1 px-0 min-h-fit h-4 flex-col md:flex md:gap-0"
    >
      <!-- <div
        class="divider lg:divider-horizontal bg-border h-px w-full lg:w-px lg:h-full"
      >
      </div> -->
      <div class="flex">
        <span class="text-nowrap">
          {`${open.toFormat("T")} — ${close.toFormat("T")}`}
        </span>
      </div>
      <!-- <div class="divider bg-border h-0.5!"></div> -->
      <div class="flex space-x-1 shrink justify-center items-center">
        <MapPin className="size-6 shrink-0" />
        <p class="">{location.address}</p>
      </div>
    </CardFooter>
  </a>
</Card>
