---
import { languages } from "src/lib/i18n";

type Link = {
  text: string;
  path: string;
};

const currentLocale = Astro.currentLocale;
const url = Astro.request.url;
console.log("Url: ", url);
const x = languages.map((l) => ({
  lang: l,
  nav: url.replace(Astro.currentLocale!, l),
}));
console.log("x: ", x);

const links: Link[] = [
  { text: "Home", path: "/" },
  { text: "Booking", path: "/booking" },
  { text: "Establishments", path: "/establishment" },
].map((i) => ({ ...i, path: `/${currentLocale}${i.path}` }));
---

<nav>
  <ul class="flex space-x-10 py-5 items-center justify-center">
    {
      links.map((l) => (
        <li>
          <a href={l.path}>{l.text}</a>
        </li>
      ))
    }
    <ul>
      {
        x.map((y) => (
          <li>
            <a href={y.nav}>{y.lang}</a>
          </li>
        ))
      }
    </ul>
  </ul>
</nav>
